<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>用户管理</title>

    <!-- Fontfaces CSS-->
    <link href="/sys/css/font-face.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/sys/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/sys/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/sys/css/theme.css" rel="stylesheet" media="all">

    <style>
        .pagewrap {
            padding: 25px 0;
            -webkit-user-select: none;
            user-select: none;
            width: 100%;
            color: #666;
            text-align: center;
            font-size: 14px;
        }

        .pagewrap i {
            height: 34px;
            padding: 0;
            border: 1px solid #ccc;
            line-height: 34px;
            border-radius: 3px;
            width: 34px;
            display: inline-block;
            cursor: pointer;
            margin: 0 4px;
            vertical-align: middle;
        }

        .pagewrap i.button {
            width: 68px;
        }

        .pagewrap i:hover {
            border-color: #fdb800;
            color: #fdb800;
            animation: buttonshake .4s ease-out forwards;
        }

        .pagewrap i.current:hover,
        i.current,
        i.button:hover {
            border-color: #fdb800;
            color: #fdb800;
            animation: none;
        }

        .pagewrap i.disabled,
        i.disabled:hover {
            background: #EFEFEF;
            border-color: #EFEFEF;
            color: #AAA;
            cursor: text;
            animation: none;
        }

        .pagewrap i.ellipsis,
        i.ellipsis:hover {
            background: none;
            border-color: #FFF;
            color: #AAA;
            cursor: text;
            animation: none;
        }

        @-webkit-keyframes buttonshake {
            25% {
                -webkit-transform: rotate(45deg);
            }

            75% {
                -webkit-transform: rotate(-45deg);
            }

            100% {
                -webkit-transform: rotate(0deg);
            }
        }

        @keyframes buttonshake {
            25% {
                transform: rotate(45deg);
            }

            75% {
                transform: rotate(-45deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    </style>



</head>

<body class="animsition">
    <div class="page-wrapper">

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <!-- <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a> -->
                <h3 class="title-5 m-b-35" style="margin: 50px,0px,0px,10px;">Admin System</h3>

            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>控制台</a>
                        </li>
                        <li class="active has-sub">
                            <a href="table.html">
                                <i class="fas fa-table"></i>用户管理</a>
                        </li>

                        <li>
                            <a href="table2.html">
                                <i class="fas fa-table"></i>电影管理</a>
                        </li>

                        <li>
                            <a href="table3.html">
                                <i class="fas fa-table"></i>影院管理</a>
                        </li>

                        <li>
                            <a href="table4.html">
                                <i class="fas fa-table"></i>日志管理</a>
                        </li>
                        
                        <li>
                            <a href="table5.html">
                                <i class="fas fa-table"></i>电影评论管理</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


        <!-- vue app 开始 -->
        <div id="app">

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <div class="form-header" action="" method="POST">

                                    <input v-model="searched_mng_name" class="au-input au-input--xl" type="text"
                                        name="search" placeholder="搜索用户..." />

                                    <button @click="searchMng" class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>

                                </div>
                                <div class="header-button">
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div>
                                                <p id=user_identification></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END HEADER DESKTOP-->




                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- 数据表 工具 开始-->
                                    <h3 class="title-5 m-b-35">用户管理</h3>
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            <!-- <div class="rs-select2--light rs-select2--md">
                                                <select class="js-select2" name="property">
                                                    <option selected="selected">所有</option>
                                                    <option value="">男性</option>
                                                    <option value="">女性</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                            <button class="au-btn-filter">
                                                <i class="zmdi zmdi-filter-list"></i>过滤器</button> -->
                                        </div>
                                        <div class="table-data__tool-right">
                                            <button class="btn btn-info" type="button" @click="updateUser"
                                                data-toggle="modal" data-target="#updateModal">
                                                更新用户
                                            </button>
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button"
                                                data-toggle="modal" data-target="#insertModal">
                                                <i class="zmdi zmdi-plus"></i>添加用户
                                            </button>
                                        </div>
                                    </div>

                                    <!-- 数据表 工具 结束 -->

                                    <!-- 表格 开始 -->
                                    <div class="table-responsive table-responsive-data2">
                                        <table class="table table-borderless table-data3">

                                            <!-- 表头 开始 -->
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">
<!--                                                        <label class="au-checkbox">-->
<!--                                                            <input type="checkbox" :checked="isAllSelected"-->
<!--                                                                @click="selectAll">-->
<!--                                                            <span class="au-checkmark"></span>-->
<!--                                                        </label>-->
                                                    </th>

                                                    <th style="width: 15%;">用户名</th>
                                                    <!-- <th >密码</th> -->
                                                    <th style="width: 15%;">性别</th>
                                                    <th style="width: 20%;">电子邮箱</th>
                                                    <th style="width: 20%;">手机号</th>
                                                    <th style="width: 15%;">优先级</th>
                                                    <th style="width: 20%;">ID</th>

                                                    <!-- <th></th> -->
                                                </tr>
                                            </thead>
                                            <!-- 表头 结束 -->


                                            <!-- 表格内容 开始 -->
                                            <tbody>
                                                <template v-for="user in users">
                                                    <tr>
                                                        <td>
                                                            <label class="au-checkbox">
                                                                <input type="checkbox" v-model="selectedUsers"
                                                                    :value="user.user_id" @click="select">
                                                                <span class="au-checkmark"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            {{user.username}}
                                                        </td>

                                                        <td>
                                                            {{user.gender}}

                                                        </td>
                                                        <td>
                                                            {{user.email}}

                                                        </td>
                                                        <td>
                                                            {{user.phonenumber}}

                                                        </td>
                                                        <td>
                                                            {{user.priority}}
                                                        </td>
                                                        <td>
                                                            {{user.related_cinema_id}}
                                                        </td>
                                                    </tr>
                                                </template>

                                            </tbody>
                                            <!-- 表格内容 结束 -->

                                        </table>
                                    </div>

                                    <div class="pagewrap">
                                        <button @click="lastPage">上一页</button>
                                        <input style="width:20px" v-model="current_page" @keyup.enter="loadList"/>
                                        <button @click="nextPage">下一页</button>
                                    </div>

                                    <!-- Debug: {{total_pages}} <br> <br> {{current_page}} -->

                                    <!-- 表格 结束 -->
                                    <!-- Debug: users: {{users}}
                                    <br>
                                    <br>
                                    selectedUsers: {{selectedUsers}} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 添加用户 输入框 开始 -->
                <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
                    aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mediumModalLabel">添加影院管理员</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">用户名</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.username" type="text" id="text-input"
                                                name="text-input" placeholder="请输入用户名" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="password-input" class=" form-control-label">密码</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.password" type="password" id="password-input"
                                                name="password-input" placeholder="请输入密码" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">性别</label>
                                        </div>
                                        <div class="col col-md-9">
                                            <div class="form-check-inline form-check">
                                                <label for="inline-radio1" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio1"
                                                        name="inline-radios" value="男" class="form-check-input">男
                                                </label>

                                                <label for="inline-radio2" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio2"
                                                        name="inline-radios" value="女" class="form-check-input">女
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">电子邮箱</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.email" type="text" id="text-input"
                                                name="text-input" placeholder="请输入电子邮箱" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">手机号</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.phonenumber" type="text" id="text-input"
                                                name="text-input" placeholder="请输入手机号" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">优先级</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.priority" type="text" id="text-input"
                                                name="text-input" placeholder="请输入优先级" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">所管理影院</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.related_cinema_id" type="text" id="text-input"
                                                name="text-input" placeholder="请输入影院ID " class="form-control">
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button @click="addUser" type="button" class="btn btn-primary"
                                    data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 添加用户 输入框 结束 -->

                <!-- 更新用户 输入框 开始 -->

                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
                    aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mediumModalLabel">更新影院管理员</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">用户名</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.username" type="text" id="text-input"
                                                name="text-input" placeholder="请输入用户名" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="password-input" class=" form-control-label">密码</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.password" type="password" id="password-input"
                                                name="password-input" placeholder="请输入密码" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">性别</label>
                                        </div>
                                        <div class="col col-md-9">
                                            <div class="form-check-inline form-check">
                                                <label for="inline-radio1" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio1"
                                                        name="inline-radios" value="男" class="form-check-input">男
                                                </label>

                                                <label for="inline-radio2" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio2"
                                                        name="inline-radios" value="女" class="form-check-input">女
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">电子邮箱</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.email" type="text" id="text-input"
                                                name="text-input" placeholder="请输入电子邮箱" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">手机号</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.phonenumber" type="text" id="text-input"
                                                name="text-input" placeholder="请输入手机号" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">优先级</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.priority" type="text" id="text-input"
                                                name="text-input" placeholder="请输入优先级" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">所管理影院</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.related_cinema_id" type="text" id="text-input"
                                                name="text-input" placeholder="请输入影院ID " class="form-control">
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button v-on:click="updateUserSubmit" type="button" class="btn btn-primary"
                                    data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 更新用户 输入框 结束 -->

            </div>
            <!-- Vue App 结束 -->

        </div>

        <!-- Jquery JS-->
        <script src="/sys/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="/sys/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="/sys/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="/sys/vendor/slick/slick.min.js">
        </script>
        <script src="/sys/vendor/wow/wow.min.js"></script>
        <script src="/sys/vendor/animsition/animsition.min.js"></script>
        <script src="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="/sys/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="/sys/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="/sys/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="/sys/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="/sys/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="/sys/vendor/select2/select2.min.js"></script>

        <script src="/sys/js/vue.js"></script>
        <script src="/sys/js/axios.js"></script>

        <!-- Main JS-->
        <script src="/sys/js/main.js"></script>

        <!-- my js -->

        <script type="text/javascript">
            function getCookie(cookie_name) {
                var allcookies = document.cookie;
                //索引长度，开始索引的位置
                var cookie_pos = allcookies.indexOf(cookie_name);

                // 如果找到了索引，就代表cookie存在,否则不存在
                if (cookie_pos != -1) {
                    // 把cookie_pos放在值的开始，只要给值加1即可
                    //计算取cookie值得开始索引，加的1为“=”
                    cookie_pos = cookie_pos + cookie_name.length + 1;
                    //计算取cookie值得结束索引
                    var cookie_end = allcookies.indexOf(";", cookie_pos);

                    if (cookie_end == -1) {
                        cookie_end = allcookies.length;

                    }
                    //得到想要的cookie的值
                    var value = unescape(allcookies.substring(cookie_pos, cookie_end));
                }
                return value;
            }
            var user_identfication = document.getElementById("user_identification");
            console.log("User_identification: " + getCookie("sysName"))
            user_identfication.innerHTML = getCookie("sysName")


            new Vue({
                el: "#app",
                data: {

                    page_size: 3,
                    current_page: 0,
                    total_pages: null,

                    searched_mng_name: null,

                    user_info: {
                        username: null,
                        password: null,
                        gender: null,
                        email: null,
                        phonenumber: null,
                        priority: null,
                        related_cinema_id: null,

                        // username: 'user1',
                        // password: 'Goodluck',
                        // gender: '男',
                        // email: 'good@foxmail.com',
                        // phonenumber: '1818982398',
                        // priority: 1,
                        // related_cinema_id: 27,
                    },



                    users: [
                        // {
                        //     username: 'user1',
                        //     password: 'Goodluck',
                        //     gender: '男',
                        //     email: 'good@foxmail.com',
                        //     phonenumber: '1818982398',
                        //     priority: 1,
                        //     related_cinema_id: '00001',
                        // },
                        // {
                        //     username: 'user2',
                        //     password: 'Niceday',
                        //     gender: '女',
                        //     email: 'cool@foxmail.com',
                        //     phonenumber: '1218982398',
                        //     priority: 2,
                        //     related_cinema_id: '00002',
                        // }
                    ],

                    selectedUsers: [],
                    isAllSelected: false,


                },
                mounted: function () {


                    axios.get("http://localhost:8081/cinemaMng/getList?" + "pageNumber=" + this.current_page + "&" + "pageSize" + "=" + this.page_size)
                        .then(response => {
                            console.log(response);
                            if (response.data.code == 0) {
                                data = response.data.data;

                                let cinemaMngs = data.cinemaMngs;
                                this.total_pages = data.pageInfo.total_pages;
                                this.users = [];


                                for (var mng of cinemaMngs) {
                                    this.users.push({
                                        user_id: mng.id,
                                        username: mng.mngUsername,
                                        password: mng.mngPassword,
                                        gender: mng.mngSex,
                                        email: mng.mngEmail,
                                        phonenumber: mng.mngPhone,
                                        priority: mng.prio,
                                        related_cinema_id: mng.cinema.id,
                                    })
                                }

                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },

                methods: {

                    loadList() {
                        axios.get("http://localhost:8081/cinemaMng/getList?" + "pageNumber=" + this.current_page + "&" + "pageSize" + "=" + this.page_size)
                            .then(response => {
                                console.log(response);
                                if (response.data.code == 0) {

                                    data = response.data.data;

                                    let cinemaMngs = data.cinemaMngs;
                                    this.total_pages = data.pageInfo.total_pages;
                                    this.users = [];

                                    for (var mng of cinemaMngs) {
                                        this.users.push({
                                            user_id: mng.id,
                                            username: mng.mngUsername,
                                            password: mng.mngPassword,
                                            gender: mng.mngSex,
                                            email: mng.mngEmail,
                                            phonenumber: mng.mngPhone,
                                            priority: mng.prio,
                                            related_cinema_id: mng.cinema.id,
                                        })
                                    }
                                }

                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },

                    lastPage() {
                        if (this.current_page >= 1) {
                            this.current_page = this.current_page - 1;
                            this.loadList();

                        }
                    },

                    nextPage() {
                        if (this.current_page + 1 < this.total_pages) {
                            this.current_page = this.current_page + 1;
                            this.loadList();
                        }
                    },

                    searchMng() {
                        if (this.searched_mng_name != "") {

                            let params = {
                                'pageNumber': this.current_page,
                                'pageSize': this.page_size,
                                'mng_username': this.searched_mng_name,
                            }

                            param = JSON.stringify(params)

                            let config = {
                                headers: { "Content-Type": "application/json" },
                            }

                            axios.post("http://localhost:8081/cinemaMng/cinemaMngFliter", param, config)
                                .then(response => {
                                    console.log(response)
                                    if (response.data.code == 0) {
                                        let data = response.data.data;
                                        // let url = data.cover_img_url.split('/');
                                        this.users = [];

                                        for (var mng of data.cinema_mng_infos) {
                                            this.users.push({
                                                user_id: mng.id,
                                                username: mng.mngUsername,
                                                password: mng.mngPassword,
                                                gender: mng.mngSex,
                                                email: mng.mngEmail,
                                                phonenumber: mng.mngPhone,
                                                priority: mng.prio,
                                                related_cinema_id: mng.cinema.id,
                                            })
                                        }
                                    }
                                })

                        }
                        else {
                            alert("请输入用户名")
                        }


                    },

                    addUser: function () {

                        const params = new URLSearchParams();
                        params.append('mngUsername', this.user_info.username);
                        params.append('mngPassword', this.user_info.password);
                        params.append('mngSex', this.user_info.gender);
                        params.append('mngEmail', this.user_info.email);
                        params.append('mngPhone', this.user_info.phonenumber);
                        params.append('prio', this.user_info.priority)
                        params.append('cinema_id', this.user_info.related_cinema_id)

                        axios.post("http://localhost:8081/cinemaMng/add", params)
                            .then(response => {
                                console.log(response);
                                if (response.data.code == 0) {

                                    // var data = response.data.data;
                                    // this.users.push(
                                    //     {
                                    //         user_id: data.id,
                                    //         username: data.username,
                                    //         password: data.mngPassword,
                                    //         gender: data.sex,
                                    //         email: data.email,
                                    //         phonenumber: data.mngPhone,
                                    //         priority: data.prio,
                                    //         related_cinema_id: data.cinema.id,
                                    //     }
                                    // );
                                    this.loadList();
                                }
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },

                    updateUser() {
                        if (this.selectedUsers.length != 1)
                            alert("请选择 1 个需要修改的数据项");
                        else if (this.selectedUsers.length == 1) {
                            this.user_info = {};

                            let ifFind = false;
                            let user_id = this.selectedUsers[0];
                            let i = 0;
                            while (i < this.users.length) {
                                if (this.users[i].user_id == user_id) {
                                    ifFind = true;
                                    break;
                                }
                                i++;
                            }
                            if (ifFind == true) {
                                this.user_info = this.users[i];
                            }
                        }
                    },

                    updateUserSubmit() {

                        let params = new FormData();

                        //params.append('id', this.user_info.id);
                        params.append('mngUsername', this.user_info.username);
                        params.append('mngPassword', this.user_info.password);
                        params.append('mngSex', this.user_info.gender);
                        params.append('mngEmail', this.user_info.email);
                        params.append('mngPhone', this.user_info.phonenumber);
                        params.append('prio', this.user_info.priority)
                        params.append('cinema_id', this.user_info.related_cinema_id)

                        axios.put("http://localhost:8081/cinemaMng/update", params)
                            .then(response => {
                                console.log(response)
                                if (response.data.code == 0) {
                                    let data = response.data.data;

                                    // 找到用户在列表中所对应的数据项
                                    let ifFind = false;
                                    let username = data.username;
                                    let i = 0;
                                    while (i < this.users.length) {
                                        if (this.users[i].username == username) {
                                            ifFind = true;
                                            break;
                                        }
                                        i++;
                                    }

                                    if (ifFind == true) {

                                        this.users[i] = {
                                            // user_id: data.id,
                                            username: data.username,
                                            password: data.mngPassword,
                                            gender: data.sex,
                                            email: data.email,
                                            phonenumber: data.mngPhone,
                                            priority: data.prio,
                                            // related_cinema_id: data.cinema.id,
                                        }
                                    }

                                    // 更新后选择清空
                                    this.selectedUsers = [];

                                    // 更新后输入框内容清空
                                    // for(var attribute in this.user_info){
                                    //     attribute = null;
                                    // }

                                    this.user_info.username = null;
                                    this.user_info.password = null;
                                    this.user_info.gender = null;
                                    this.user_info.email = null;
                                    this.user_info.phonenumber = null;
                                    this.user_info.priority = null;
                                    this.user_info.related_cinema_id = null;
                                }

                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });

                    },

                    selectAll() {
                        if (this.isAllSelected) {
                            this.selectedUsers = []
                            this.isAllSelected = false
                        } else {
                            this.selectedUsers = []
                            for (var user in this.users) {
                                this.selectedUsers.push(this.users[user].user_id)
                            }
                            this.isAllSelected = true
                        }
                    },

                    select() {
                        if (this.selectedUsers.length !== this.users.length) {
                            this.isAllSelected = false
                        } else {
                            this.isAllSelected = true
                        }
                    },
                },





            })
        </script>
</body>

</html>
<!-- end document-->