<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>用户管理</title>

    <!-- Fontfaces CSS-->
    <link href="/sys/css/font-face.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/sys/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/sys/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
        media="all">
    <link href="/sys/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/sys/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <!-- <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a> -->
                <h3 class="title-5 m-b-35" style="margin: 50px,0px,0px,10px;">Admin System</h3>

            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>控制台</a>
                        </li>
                        <!-- <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li> -->
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>用户管理</a>
                        </li>

                        <!-- <li>
                            <a href="table2.html">
                                <i class="fas fa-table"></i>电影管理</a>
                        </li> -->

                        <li>
                            <a href="table3.html">
                                <i class="fas fa-table"></i>影院管理</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search"
                                    placeholder="搜索数据和报告..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Jason</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Jason</a>
                                                    </h5>
                                                    <span class="email">Jason@outlook.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>账户</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>设置</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>退出登录</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div id="app">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- DATA TABLE -->
                                    <h3 class="title-5 m-b-35">用户管理</h3>
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            <div class="rs-select2--light rs-select2--md">
                                                <select class="js-select2" name="property">
                                                    <option selected="selected">所有</option>
                                                    <option value="">男性</option>
                                                    <option value="">女性</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                            <button class="au-btn-filter">
                                                <i class="zmdi zmdi-filter-list"></i>过滤器</button>
                                        </div>
                                        <div class="table-data__tool-right">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button"
                                                data-toggle="modal" data-target="#mediumModal">
                                                <i class="zmdi zmdi-plus"></i>添加用户
                                            </button>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-responsive-data2" style="overflow: scroll;">
                                        <table class="table table-data2" id="userList">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </th>
                                                    <th style="text-align: center;">用户名</th>
                                                    <th style="text-align: center;">密码</th>
                                                    <th style="text-align: center;">性别</th>
                                                    <th style="text-align: center;">电子邮箱</th>
                                                    <th style="text-align: center;">手机号</th>
                                                    <th style="text-align: center;">优先级</th>
                                                    <th style="text-align: center;">关联影院ID</th>

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <!-- Hello
                                                {{user_info.username}}
                                                {{user_info.password}}
                                                {{user_info.gender}}
                                                {{user_info.email}}
                                                {{user_info.phonenumber}} -->

                                                <tr v-for="user in users">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.username" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.password" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.gender" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.email" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.phonenumber" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.priority" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                    <td>
                                                        <input v-model="user.related_cinema_id" readonly
                                                            style="width: 130px;text-align:center;"></input>
                                                    </td>
                                                </tr>

                                                <!-- <form onsubmit="event.preventDefault();onFormSubmit();">
                                                    <tr class="tr-shadow">
                                                        <td>
                                                            <label class="au-checkbox">
                                                                <input type="checkbox">
                                                                <span class="au-checkmark"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input v-model="user_info.username"
                                                                style="width: 150px;border:2px solid #e5e5e5;"
                                                                type="text" name="UserName" id="username">
                                                        </td>
                                                        <td>
                                                            <input v-model="user_info.password"
                                                                style="width: 150px;border:2px solid #e5e5e5;"
                                                                type="text" name="Password" id="password">
                                                        </td>
                                                        <td>
                                                            <select v-model="user_info.usertype"  id="usertype">
                                                                <option value="admin" selected = "true" >Admin</option>
                                                                <option value="normal">Normal</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input v-model="user_info.date"
                                                                style="width: 150px;border:2px solid #e5e5e5;"
                                                                readonly="true" type="text" name="Date" id="date">
                                                        </td>
                                                        <td>
                                                            <input v-model="user_info.status"
                                                                style="width: 150px;border:2px solid #e5e5e5;"
                                                                type="text" name="Status" id="status">
                                                        </td>

                                                        <td>
                                                            <input v-on:click="addUser()" onclick="onFormSubmit()"
                                                                type="submit" value="提交"
                                                                class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                            </input>
                                                        </td>
                                                    </tr>
                                                </form> -->
                                                <tr class="spacer"></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
                    aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mediumModalLabel">添加影院管理员</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">用户名</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.username" type="text" id="text-input"
                                                name="text-input" placeholder="请输入用户名" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="password-input" class=" form-control-label">密码</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.password" type="password" id="password-input"
                                                name="password-input" placeholder="请输入密码" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">性别</label>
                                        </div>
                                        <div class="col col-md-9">
                                            <div class="form-check-inline form-check">
                                                <label for="inline-radio1" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio1"
                                                        name="inline-radios" value="男" class="form-check-input">男
                                                </label>

                                                <label for="inline-radio2" class="form-check-label ">
                                                    <input v-model="user_info.gender" type="radio" id="inline-radio2"
                                                        name="inline-radios" value="女" class="form-check-input">女
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">电子邮箱</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.email" type="text" id="text-input"
                                                name="text-input" placeholder="请输入电子邮箱" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">手机号</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.phonenumber" type="text" id="text-input"
                                                name="text-input" placeholder="请输入手机号" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">优先级</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.priority" type="text" id="text-input"
                                                name="text-input" placeholder="请输入优先级" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">所管理影院</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input v-model="user_info.related_cinema_id" type="text" id="text-input"
                                                name="text-input" placeholder="请输入影院ID " class="form-control">
                                        </div>
                                    </div>
                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button v-on:click="addUser()" type="button" class="btn btn-primary"
                                    data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- App END -->

        </div>

        <!-- Jquery JS-->
        <script src="/sys/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="/sys/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="/sys/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="/sys/vendor/slick/slick.min.js">
        </script>
        <script src="/sys/vendor/wow/wow.min.js"></script>
        <script src="/sys/vendor/animsition/animsition.min.js"></script>
        <script src="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="/sys/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="/sys/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="/sys/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="/sys/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="/sys/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="/sys/vendor/select2/select2.min.js"></script>

        <script src="/sys/js/vue.js"></script>
        <script src="/sys/js/axios.js"></script>

        <!-- Main JS-->
        <script src="/sys/js/main.js"></script>

        <!-- my js -->

        <script type="text/javascript">
            new Vue({
                el: "#app",
                data: {
                    user_info: {
                        username: 'user1',
                        password: 'Goodluck',
                        gender: '男',
                        email: 'good@foxmail.com',
                        phonenumber: '1818982398',
                        priority: 1,
                        related_cinema_id: '00001',
                    },
                    users: [],
                    pageSize :20,
                    pageNum:1,
                },
                methods: {
                    addUser: function () {

                        const params = new URLSearchParams();
                        params.append('mng_username', this.user_info.username);
                        params.append('mng_password', this.user_info.password);
                        params.append('mng_sex', this.user_info.gender);
                        params.append('mng_email', this.user_info.email);
                        params.append('mng_phone', this.user_info.phonenumber);
                        params.append('prio', this.user_info.priority)
                        params.append('cinema_id', this.user_info.related_cinema_id)

                        axios.post("http://localhost:8081/cinemaMng/add", params)
                            .then(response => {
                                var data  = response.data.data;
                                this.users.push(
                                    {
                                        username: data.mngUsername,
                                        password: data.mngPassword,
                                        gender: data.mngSex,
                                        email: data.mngEmail,
                                        phonenumber: data.mngPhone,
                                        priority: data.prio,
                                        related_cinema_id: data.cinema.id,
                                    }
                                );
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                            });
                    },
                },
                mounted() {
                    const params = new URLSearchParams();
                    params.append("pageSize",this.pageSize);
                    params.append("pageNumber",this.pageNum);
                    axios.get('http://localhost:8081/cinemaMng/getList')
                        .then(response => {
                            let cinemaMngs = response.data.data.cinemaMngs;
                            for (var mng of cinemaMngs){
                                this.users.push({
                                    username: mng.mngUsername,
                                    password: mng.mngPassword,
                                    gender: mng.mngSex,
                                    email: mng.mngEmail,
                                    phonenumber: mng.mngPhone,
                                    priority: mng.prio,
                                    related_cinema_id: mng.cinema.id,
                                })
                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },
            })
        </script>
</body>

</html>
<!-- end document-->