<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>日志管理</title>

    <!-- Fontfaces CSS-->
    <link href="/sys/css/font-face.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/sys/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/sys/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/sys/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/sys/css/theme.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
    <div class="page-wrapper">

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <!-- <a href="#">
                <img src="images/icon/logo.png" alt="Cool Admin" />
            </a> -->
                <h3 class="title-5 m-b-35" style="margin: 50px,0px,0px,10px;">Admin System</h3>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>控制台</a>
                        </li>

                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>用户管理</a>
                        </li>

                        <li>
                            <a href="table2.html">
                                <i class="fas fa-table"></i>电影管理</a>
                        </li>

                        <li>
                            <a href="table3.html">
                                <i class="fas fa-table"></i>影院管理</a>
                        </li>

                        <li class="active has-sub">
                            <a href="table4.html">
                                <i class="fas fa-table"></i>日志管理</a>
                        </li>

                        <li>
                            <a href="table5.html">
                                <i class="fas fa-table"></i>电影评论管理</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


        <!-- vue app 开始 -->
        <div id="app">

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">

                                <!-- 搜索框 开始 -->
                                <div class="form-header" action="" method="POST">
                                    <input class="au-input au-input--xl" type="text" v-model="keyword" name="search"
                                        placeholder="搜索记录...">
                                    </input>

                                    <button @click="getByUserid" class="au-btn--submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>

                                </div>
                                <!-- 搜索框 结束 -->

                                <div class="header-button">
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">Jason</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">Jason</a>
                                                        </h5>
                                                        <span class="email">Jason@outlook.com</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__body">
                                                    <div class="account-dropdown__item">
                                                        <a href="#">
                                                            <i class="zmdi zmdi-account"></i>账户</a>
                                                    </div>
                                                    <div class="account-dropdown__item">
                                                        <a href="#">
                                                            <i class="zmdi zmdi-settings"></i>设置</a>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-power"></i>退出登录</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END HEADER DESKTOP-->

                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- 数据表工具 -->
                                    <h3 class="title-5 m-b-35">日志管理</h3>
                                    <!-- {{selected_date}} {{selected_time}} -->
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            <input v-model="selected_date" class="au-btn-filter" type="date">
                                            </button>

                                            <button class="au-btn-filter" @click="getByDateTime">
                                                <i class="zmdi zmdi-filter-list"></i>过滤器</button>
                                        </div>

                                        <!-- 主要工具 开始 -->
                                        <div class="table-data__tool-right">
                                            <button class="btn btn-danger" type="button" @click="deletebyDate">
                                                <i class="zmdi zmdi-minus"></i>删除指定日期的部分
                                            </button>
                                            <button class="btn btn-danger" type="button" @click="deleteAll">
                                                <i class="zmdi zmdi-minus"></i>删除全部
                                            </button>
                                        </div>
                                        <!-- 主要工具 结束 -->

                                    </div>
                                    <!-- 数据表工具 结束 -->

                                    <div class="table-responsive table-responsive-data2">

                                        <!-- 数据表 -->
                                        <div class="row m-t-30">
                                            <div class="col-md-12">
                                                <!-- DATA TABLE-->
                                                <div class="table-responsive m-b-40">
                                                    <table style="table-layout:fixed;"
                                                        class="table table-borderless table-data3">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: left;overflow:hidden;">角色</th>
                                                                <th style="text-align: left;overflow:hidden;">ID</th>
                                                                <th style="text-align: left;overflow:hidden;">IP</th>
                                                                <th style="text-align: left;overflow:hidden;">方法</th>
                                                                <th style="text-align: left;overflow:hidden;">操作</th>
                                                                <th style="text-align: left;overflow:hidden;">参数</th>
                                                                <th style="text-align: left;overflow:hidden;">日期</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <template v-for="record in logger_records">
                                                                <tr>
                                                                    <td style="overflow:hidden;">
                                                                        {{record.role}}
                                                                    </td>

                                                                    <td style="overflow:hidden;">
                                                                        {{record.user_id}}
                                                                    </td>
                                                                    <td style="overflow:hidden;">
                                                                        {{record.ip}}
                                                                    </td>
                                                                    <td style="overflow:hidden;"
                                                                        v-bind:title="record.method">
                                                                        {{record.method}}
                                                                    </td>
                                                                    <td style="overflow:hidden;">
                                                                        {{record.operation}}
                                                                    </td>
                                                                    <td style="overflow:hidden;"
                                                                        v-bind:title="record.params">
                                                                        {{record.params}}
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        {{record.createDate.substring(0,10)}}
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- END DATA TABLE-->
                                            </div>
                                        </div>



                                        <!-- debug: logger_records = {{logger_records}} Keyword = {{keyword}} -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- vue app 结束 -->

        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/sys/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/sys/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/sys/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/sys/vendor/slick/slick.min.js">
    </script>
    <script src="/sys/vendor/wow/wow.min.js"></script>
    <script src="/sys/vendor/animsition/animsition.min.js"></script>
    <script src="/sys/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/sys/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/sys/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/sys/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/sys/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/sys/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/sys/vendor/select2/select2.min.js">
    </script>

    <script src="/sys/js/vue.js"></script>
    <script src="/sys/js/axios.js"></script>

    <!-- Main JS-->
    <script src="/sys/js/main.js"></script>


    <script>
        new Vue({
            el: '#app',
            data: {
                keyword: "",
                logger_records: [],

                selected_date: null,
                selected_time: null,
            },

            mounted: function () {
                axios.post("http://116.62.10.95:8081/myLogger/getRecent")
                    .then(response => {
                        console.log(response);
                        if (response.data.code == 0) {
                            let data = response.data.data;
                            for (var record of data.loggers) {
                                this.logger_records.push({
                                    record_id: record.id,
                                    role: record.role,
                                    user_id: record.userId,
                                    ip: record.ip,
                                    operation: record.operation,
                                    method: record.method,
                                    createDate: record.createDate,
                                    params: record.params,
                                })
                            }
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },

            methods: {
                deleteAll() {
                    axios.delete("http://116.62.10.95:8081/myLogger/delAll")
                        .then(response => {
                            if (response.data.code == 0) {
                                alert("删除成功");
                                this.logger_records = [];
                            }
                            else
                                alert("删除失败");
                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },

                deletebyDate() {
                    if (this.selected_date == null) {
                        alert("未选择日期");

                        return;
                    }



                    let selected_datetime = this.selected_date + " " + "12:12:12";

                    axios.delete("http://116.62.10.95:8081/myLogger/delByDate?date=" + selected_datetime)

                        .then(response => {
                            if (response.data.code == 0) {
                                alert("删除成功");
                                this.logger_records = [];
                            }
                            else
                                alert("删除失败");
                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },

                getByUserid() {
                    const param = new URLSearchParams();
                    param.append("userId", this.keyword);
                    axios.post("http://116.62.10.95:8081/myLogger/getByUser", param)
                        .then(response => {
                            console.log(response);
                            if (response.data.code == 0) {
                                this.logger_records = [];
                                let data = response.data.data;
                                for (var record of data.loggers) {
                                    this.logger_records.push({
                                        record_id: record.id,
                                        role: record.role,
                                        user_id: record.userId,
                                        ip: record.ip,
                                        operation: record.operation,
                                        method: record.method,
                                        createDate: record.createDate,
                                        params: record.params,
                                    })
                                }
                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                },

                getByDateTime() {
                    if (this.selected_date == null){
                        alert("请选择日期")
                        return
                    }
                        

                    const param = new URLSearchParams();
                    let selected_datetime = this.selected_date + " " + "12:12:12"
                    param.append("date", selected_datetime);
                    axios.post("http://116.62.10.95:8081/myLogger/getByOnedate", param)
                        .then(response => {
                            console.log(response);
                            if (response.data.code == 0) {
                                this.logger_records = [];
                                let data = response.data.data;
                                for (var record of data.loggers) {
                                    this.logger_records.push({
                                        record_id: record.id,
                                        role: record.role,
                                        user_id: record.userId,
                                        ip: record.ip,
                                        operation: record.operation,
                                        method: record.method,
                                        createDate: record.createDate,
                                        params: record.params,
                                    })
                                }
                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                }
            }

        })
    </script>
</body>

</html>
<!-- end document-->