<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>登录页面</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/materialdesignicons.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">

  <script src="js/vue.js"></script>
  <script src="js/axios.js"></script>
<style>
.lyear-wrapper {
    position: relative;
}
.lyear-login {
    display: flex !important;
    min-height: 100vh;
    align-items: center !important;
    justify-content: center !important;
}
.login-center {
    background: #fff;
    min-width: 38.25rem;
    padding: 2.14286em 3.57143em;
    border-radius: 5px;
    margin: 2.85714em 0;
}
.login-header {
    margin-bottom: 1.5rem !important;
}
.login-center .has-feedback.feedback-left .form-control {
    padding-left: 38px;
    padding-right: 12px;
}
.login-center .has-feedback.feedback-left .form-control-feedback {
    left: 0;
    right: auto;
    width: 38px;
    height: 38px;
    line-height: 38px;
    z-index: 4;
    color: #dcdcdc;
}
.login-center .has-feedback.feedback-left.row .form-control-feedback {
    left: 15px;
}
</style>
</head>
  
<body>
<div class="row lyear-wrapper" id="app">
  <div class="lyear-login">
    <div class="login-center">
      <div class="login-header text-center">
        <a href="#"> <img alt="图片缺失" src="images/Cinema_logo_small_new.png"> </a>
      </div>
      <form action="#!" method="post">
        <div class="form-group has-feedback feedback-left">
          <input v-model="mngName" type="text" placeholder="请输入您的用户名" class="form-control" name="username" id="username" />
          <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left">
          <input v-model="password" type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
          <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback feedback-left row">
          <div class="col-xs-7">
            <input type="text" name="captcha" class="form-control" placeholder="验证码">
            <span class="mdi mdi-check-all form-control-feedback" aria-hidden="true"></span>
          </div>
          <div class="col-xs-5">
            <img src="images/captcha.png" class="pull-right" id="captcha" style="cursor: pointer;" onclick="this.src=this.src+'?d='+Math.random();" title="点击刷新" alt="captcha">
          </div>
        </div>
        <div class="form-group">
          <!--<button class="btn btn-block btn-primary" type="button" onclick="location.href='index_xdq_new.html'">立即登录</button>-->
          <button class="btn btn-block btn-primary" type="button" v-on:click="logInCheck()">立即登录</button>
        </div>
      </form>
      <hr>
      <footer class="col-sm-12 text-center">
        <p class="m-b-0">Copyright © 2019 <a href="http://lyear.itshubao.com">IT书包</a>. All right reserved</p>
      </footer>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">;</script>

<script type = "text/javascript">
    new Vue({
        el: '#app',
        data:{
            mngName:null,
            password:null,
            info:null,
            cinema_info:null,
            hall_info:null,
            selected:0,
            cinema_selected:0,
            hall_selected:0,
            schedule:{
                movie_id:null,
                cinema_id:null,
                hall_id:null,
                price:null,
                start_date:null,
                end_date:null,
                description:null,
            },
        },
        methods:{

            logInCheck(){
                // 按 URLSearchParams 方式的话是 application/x-www-form-urlencoded
                // 否则 将会被 自动  json 化
                const params = new URLSearchParams();
                params.append('mngName', this.mngName);
                params.append('password', this.password);

                axios.post("http://localhost:8081/cinemaMng/login",params,
                    {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                        },
                        crossdomain: true,
                    }
                )
                    .then(response => {
                        this.info = response.data.data;
                        console.log(response.headers);
                        console.log(document.cookie);
                        //    type,id,islogin

                        // console.log(this.info)
                        if(response.headers.islogin == "true"){
                            console.log("asdadadasd");
                            window.location.href = "index_xdq_new.html";
                        }
                        else {console.log("用户名或密码错误！");}
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                // window.location.href = "http://localhost:8081/mng/xdq_cinema_arrangements.html";
            },
        },
        mounted (){
        },
    });
</script>

</body>
</html>